html,
body {
  margin: 0 0;
  padding: 5px;
  height: 100%;
}

.main button {
  margin: auto 5px;
}

.w-100 {
  margin-bottom: 5px;
}

.card-body {
  height: 340px;
}
.form-group input {
  display: inline-block !important;
  height: 48px !important;
  vertical-align: middle !important;
  width: auto;
}
/* .form-group input::placeholder {
  color: #b3b3b3;
} */
